<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServeletPractice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>sumServlet</servlet-name>
  	<servlet-class>com.practice.servlet.SumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sumServlet</servlet-name>
  	<url-pattern>/sum</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>reqDisServlet</servlet-name>
  	<servlet-class>com.practice.servlet.ReqDispServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reqDisServlet</servlet-name>
  	<url-pattern>/disp</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>sendRedirect</servlet-name>
  	<servlet-class>com.practice.servlet.SendRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sendRedirect</servlet-name>
  	<url-pattern>/sendUrl</url-pattern>
  </servlet-mapping>
</web-app>